*~
tags
doc/html
doc/*.log
missionlib/testing/*.xcodeproj/*
.DS_Store
build*
.nfs*
share/
__pycache__
apidocs/
*.swp
pymavlink/dialects/
pymavlink/MANIFEST
pymavlink/dist
pymavlink.egg-info/
.pydevproject
.project
.ropeproject
*.cproject
include/
.tags*
*.pyc
.idea/
